<?xml version='1.0' encoding='utf-8'?>
<widget id="com.test.cstest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CB dialog appx 8.1 phone test</name>
    <description>
        Cordova dialog test
    </description>
    <author email="brodybits@litehelpers.net" href="http://brodybits.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-6.1.0" />
    <preference name="windows-appx-target" value="8.1-phone" />
    <preference name="windows-arch" value="arm" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.1" />
</widget>
